.restorePassword {
    margin: 70px auto;
    border-radius: 15px;
    background-color: white;
    width: 413px;
    height: 600px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.inputBlock {
    width: 350px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.inputBlock input, .inputBlock input:hover, .inputBlock input:active {
    outline: none;
    width: 100%;
    border: none;
    font-size: 16px;
}

.inputBlock img {
    opacity: 0.8;
    cursor: pointer;
}

.inputBlock img:hover {
    opacity: 1;
    cursor: pointer;
}
