.nameProject {
    font-size: 24px;
    font-weight: 700;
}

.form .title {
    font-size: 24px;
    font-weight: 700;
    opacity: 0.85;
}

.rememberMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.rememberMe .checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 20px;
}

.errorMessage {
    color: red;
    font-size: 0.8rem;
}

.correctMessage {
    color: green;
    font-size: 0.8rem;
}