.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.errorMessage {
    color: red;
    font-size: 0.8rem;
}

.correctMessage {
    color: green;
    font-size: 0.8rem;
}